* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .card:hover {
  transform: rotate3d(1, 1, 0, -40deg);
  transition: ease-in-out 1.5s;
} */

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  font-family: "Inter", sans-serif;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--off-black);
  text-align: center;
  padding: 4rem 1rem;
  color: var(--white);
}

.card {
  background-color: var(--dark-grey);
  border: 10px solid var(--green);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 90%;
  width: 100%;
  transition: max-width 0.6s ease;
  margin: 0 auto;
}

.card.expanded {
  max-width: 768px;
}

.card:hover{
  background-color: var(--dark-grey);
  border: 10px (var(--green));
  border-style: solid;
  border-radius: 1rem;
  padding: 2rem;
}

.card__image img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
}

.card:hover img {
  transform: rotateZ(360deg);
  transform: rotate3d(1, 1, 0, 360deg);
  transition: ease-in-out 2.5s;
  
}

.card .card__details {
  padding: 1rem;
}

.card .card__details h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.card .card__details p {
  color: var(--green);
  padding-top: 0.5rem;
  font-weight: 600;
}

.card .card__quote {
  padding: 0.5rem;
}
.card ul {
  list-style: none;
}
.card li {
  margin-top: 1rem;
}

.card li > a {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: var(--white);
  background-color: var(--grey);
  border-radius: 0.5rem;
  font-weight: 700;
}



.card li > a:hover {
 
  background-color: var(--green);
  color: var(--white);
  box-shadow: var(--green) 0px 7px 29px 0px;
}

.card li > a:active {
  
  background-color: var(--green);
  color: var(--white);
  box-shadow: var(--green) 0px 7px 29px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.card__extra {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.3s ease;
  padding: 0 1rem;
  color: var(--green);
}

.card__extra.open {
  max-height: 300px; /* of auto als je JS gebruikt om hoogte te bepalen */
  padding: 1rem;
}

#toggleButton {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border: none;
  background-color: var(--green);
  color: var(--off-black);
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#toggleButton:hover {
   background-color: var(--green);
  color: var(--white);
  box-shadow: var(--green) 0px 7px 29px 0px;
}
#toggleButton:active {
  background-color: var(--green);
  color: var(--white);
  box-shadow: var(--green) 0px 7px 29px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

@media screen and (min-width: 768px) {
  body {
    padding: 6rem 1rem;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding: 8rem 1rem;
  }
}